
.todo-card {
    background-color: rgba(247,241,227, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 30%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.deleted {
    display: none;
}

.done {
    background-color: rgba(247,241,227, 0.6)
}

.done h4 {
    text-decoration: line-through;
}

.todo-card h4 {
    font-weight: 400;
}

.todo-card:hover {
    background-color: rgba(247,241,227, 1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.todo-done {
    border: 3px solid rgba(255, 177, 66, 0.5);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.todo-done:hover {
    border: 3px solid rgba(143,185,168, 1);
    color: rgba(143,185,168, 1);
}

.todo-delete {
    border: 3px solid rgba(255, 177, 66, 0.5);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.todo-delete:hover {
    border: 3px solid rgba(255, 82, 82,1.0);
    color: rgba(255, 82, 82,1.0);
}